<div *ngIf="selectedTask1">
        <h2>Edit Details</h2>
        <form [formGroup]="formEdit" (ngSubmit)="onUpdate()">
            <label>Update name:
                <input id="inpName" class="inputAdd" formControlName="taskName" placeholder="name" required>
            </label>
            <!-- <br>
            <label>Update description:
                <input class="inputAdd" formControlName="taskDescription" placeholder="description" required>
            </label> -->
            <br>
            <p *ngIf="!formEdit.valid">
                Please enter name(4 character)
            </p>
            <button class="btn" [disabled]="formEdit.invalid" type="submit">Update</button>
            <button type="button" class="btn" (click)="deleteSelectedTask()">Delete</button>
        </form>
    </div>